.statList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0;
}

.statItem {
  width: calc((100%-30px) / 4);

  display: inline;
  font-size: 20px;
  text-align: center;
  color: lightslategray;
  border: 2px solid lightslategray;
  vertical-align: middle;

  padding: 16px;
  border-radius: 12px;
  min-height: 52px;
}

.statItem:nth-child(4),
.statItem:nth-child(5) {
  border: 5px solid #ffffff;
}

.statValue {
  margin-left: 5px;
  color: rgb(66, 91, 115);
  font-weight: 700;
}
